<html>
  <head>
    <link href="assets/css/index.css" rel="stylesheet">
  </head>
  <body ng-app="Slots" ng-controller="IndexController as vm" ng-cloak>

    <div banner title="Only for demonstration reasons">KTsalikidis for <img src="assets/img/white-rabbit.png" height="50"></div>

    <div title>
      <h1>Slots Client</h1>
      <a class="github-button" href="https://github.com/ktsalik/slots" data-icon="octicon-star" aria-label="Star ktsalik/slots on GitHub">Star</a>
      <a class="github-button" href="https://github.com/ktsalik/slots/subscription" data-icon="octicon-eye" aria-label="Watch ktsalik/slots on GitHub">Watch</a>
      <a class="github-button" href="https://github.com/ktsalik/slots/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download ktsalik/slots on GitHub">Download</a>
      <br>
      <small info>Star to view repository files</small>
    </div>

    <div class="game-list">
      <game ng-repeat="game in vm.games" game-title="game.title" thumbnail="game.thumbnail" ng-click="vm.play(game)"></game>
    </div>

    <script src="assets/lib/angular.min.js"></script>
    <script src="assets/js/index.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>